<ng-container *ngIf="loading; else postDetail">
  <app-loader></app-loader>
</ng-container>

<ng-template #postDetail>
  <div class="post-detail-container">
    <section *ngIf="post" class="post-detail">
      <div class="title-container">
        <h4>
          Post numero: <span class="text-danger">{{ post.id }}</span>
        </h4>
        <button type="button" class="btn btn-danger" [routerLink]="'/home'">
          Volver
        </button>
      </div>
      <article>
        <h3>
          <span class="text-danger">Titulo:</span> {{ post.title | uppercase }}
        </h3>
        <p>{{ post.body }} {{ post.body }} {{ post.body }}</p>
        <p>{{ post.body }} {{ post.body }}</p>
        <p>{{ post.body }} {{ post.body }}</p>
      </article>
    </section>
    <app-post-comments></app-post-comments>
  </div>
</ng-template>
