footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

footer svg {
  width: 50px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2em;
  padding-bottom: 4em;
}

.footer-container {
  margin-right: 1em;
}

p {
  color: rgba(255, 255, 255, 0.768);
}
