h1 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: ui-monospace;
}

header {
  padding-bottom: 2em;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #25252b;
} */

/* @media (max-width: 480px) {
  .header-container {
    flex-direction: column-reverse;
  }
} */