<header class="mb-auto text-center pt-4">
  <div class="container d-flex justify-content-between">
    <div>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <h1>Post and View</h1>
      </a>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Menu</mat-label>
        <mat-select
          [(ngModel)]="selectedOption"
          (selectionChange)="onOptionSelected($event)"
          disableRipple
        >
          <mat-option value="1">Inicio</mat-option>
          <mat-option value="2">Mi perfil</mat-option>
          <mat-option value="3">Información</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</header>
