h1 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-family: ui-monospace;
}

header {
  padding-bottom: 2em;
}

.header-img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* @media (max-width: 480px) {
  header {
    padding-bottom: 1em;
  }

  h1 {
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .header-container {
    flex-direction: column;
  }
} */