<section class="profile-container">
  <div class="backButton">
    <button type="button" title="Volver" class="btn btn-danger" [routerLink]="'/home'">
      Volver
    </button>
  </div>
  <div class="title-container">
    <h3>Mi perfil</h3>
  </div>
  <div>
    <img [src]="profilePhoto" class="profilePhoto" alt="profile photo" />
    <p>Nombre: {{ name || 'Invitado' }}</p>
    <p>Correo: {{ mail || 'Desconocido' }}</p>
  </div>
  <div>
    <button type="button" title="Modificar" mat-raised-button (click)="openDialog()">Modificar perfil</button>
  </div>
</section>