<div class="post-list">
    <h2>Post List:</h2>
    <table class="table table-responsive table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Post</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.id}}</td>
                <td>{{post.body}}</td>
                <td [routerLink]="['/post-detail', post.id]">View</td>
            </tr>
        </tbody>
    </table>
</div>
