<section class="information-container">
    <div class="backButton">
        <button type="button" class="btn btn-danger" [routerLink]="'/home'">
            Volver
        </button>
    </div>
    <h4>Información</h4>
    <p>Esta página web ha sido desarrollada utilizando la tecnología Angular, combinando CSS nativo con recursos de
        Bootstrap para darle un diseño moderno y atractivo. Además, se han utilizado componentes de Material para
        aumentar la interactividad y eficiencia del sitio.</p>
    <p>Para mostrar la lista de publicaciones y comentarios, se utiliza la API pública JSONplaceholder. Asimismo,
        para que los usuarios puedan escribir comentarios o cambiar su nombre, se utiliza el almacenamiento local, lo
        que significa que esta información no se guardará permanentemente.</p>
    <p>Este sitio web fue creado con el propósito de poner en práctica y fortalecer conocimientos. ¡Agradezco tu
        visita y esperamos que disfrutes tu experiencia en mi página!</p>
</section>