mat-table {
  background-color: #25252b;
  margin-bottom: 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  margin-right: 10px;
}

h4 {
  color: #fff;
  background-color: #25252b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

mat-row {
  border-bottom: 2px solid #19191d;
}

mat-header-cell {
  color: whitesmoke;
  background-color: #25252b;
  font-weight: 700 !important;
  font-size: 16px;
}

mat-cell {
  color: rgba(255, 255, 255, 0.859);
  background-color: #25252b;
}

p {
  margin-bottom: 0em;
}

.td-link {
  cursor: pointer;
}

.mat-paginator {
  background-color: #25252b;
  color: rgba(255, 255, 255, 0.859);
}

@media (max-width: 1199px) {
  .action-button {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .post-list {
    padding: 10px;
  }

  mat-header-cell {
    padding: 0.3em;
    margin-right: 1em;
  }

  mat-cell {
    padding: 0.3em;
    margin-right: 1em;
  }

}

@media (max-width: 800px) {
  mat-header-cell {
    font-size: 14px;
  }

  mat-cell {
    font-size: 12px;
  }
}