<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="post-list" [hidden]="loading">
  <h4>Lista de posts:</h4>
  <div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef style="max-width: 12%">Id</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-white-50" style="max-width: 12%">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Titulo">
        <mat-header-cell *matHeaderCellDef style="max-width: 28%">Titulo</mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 28%">
          {{ element.title | slice : 0 : 30 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mensaje">
        <mat-header-cell *matHeaderCellDef style="max-width: 45%">Mensaje</mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 45%">
          {{ element.body | slice : 0 : 70 }}...
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <mat-header-cell class="mat-header-cell" *matHeaderCellDef style="max-width: 15%">Acciones</mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 15%">
          <div>
            <button type="button" title="Entrar" mat-flat-button color="primary" class="action-button"
              [routerLink]="['/post-detail', element.id]">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button type="button" title="Borrar" mat-flat-button color="warn" (click)="deletePost(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>