<div *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="post-list" [hidden]="loading">
  <h4>Lista de posts:</h4>
  <div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Numero">
        <mat-header-cell *matHeaderCellDef>Numero</mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-white-50">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Titulo">
        <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.title | slice : 0 : 30 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mensaje">
        <mat-header-cell *matHeaderCellDef>Mensaje</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.body | slice : 0 : 60 }}...
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <mat-header-cell class="mat-header-cell" *matHeaderCellDef
          style="justify-content: center;">Acciones</mat-header-cell>
        <mat-cell *matCellDef="let element" style="justify-content: center; text-align: center;">
          <div>
            <button mat-flat-button color="primary" class="action-button" [routerLink]="['/post-detail', element.id]">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-flat-button color="warn" (click)="deletePost(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>