<header>
    <h1>Post and View</h1>
</header>
<main>
    <section *ngIf="post">
        <article>
            <h3>Post Id: {{post.id}}</h3>
            <h2>Title: {{post.title | uppercase}}</h2>
            <p>{{post.body}} {{post.body}} {{post.body}}</p>
            <p>{{post.body}} {{post.body}}</p>
            <p>{{post.body}} {{post.body}}</p>
        </article>
        <article>
            <h4>Comments:</h4>
            <ul *ngFor="let comment of comments" class="list-group">
                <li class="list-group-item active">Name: {{comment.name}}</li>
                <li class="list-group-item">Email: {{comment.email}}</li>
                <li class="list-group-item">{{comment.body}}</li>
            </ul>
        </article>

    </section>
</main>    
<footer>
    <p>Creado por: Leandro M. Carlino A.</p>
</footer>