.post-detail {
  color: rgba(255, 255, 255, 0.859);
}

h4,
h3 {
  color: #777;
}

h3 {
  text-align: center;
  margin-bottom: 1em;
}

.title-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-between;
}
