ul {
    margin-bottom: 1em;
    max-width: 600px;
}

.container-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 1em;
}

.example-full-width {
    width: 100%;
    margin-bottom: 0.5em;
}
