<article>
  <h3>Comentarios:</h3>
  <ul *ngFor="let comment of comments" class="list-group">
    <li class="list-group-item">
      <span class="text-danger">Name:</span> {{ comment.name }}
    </li>
    <li class="list-group-item">
      <span class="text-danger">Email:</span> {{ comment.email }}
    </li>
    <li class="list-group-item">{{ comment.body }}</li>
  </ul>
  <ng-container *ngIf="newComments.length > 0">
    <ul *ngFor="let newComment of newComments" class="list-group">
      <li class="list-group-item">
        <span class="text-danger">Name:</span> {{ newComment.name }}
      </li>
      <li class="list-group-item">
        <span class="text-danger">Email:</span> {{ newComment.email }}
      </li>
      <li class="list-group-item">{{ newComment.body }}</li>
    </ul>
  </ng-container>
</article>

<article class="container-form">
  <h3>Agrega un comentario!</h3>
  <form
    autocomplete="off"
    [formGroup]="form"
    (ngSubmit)="save()"
    class="example-form"
  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        formControlName="name"
        [class.is-invalid]="invalidName"
        matInput
        placeholder="Name LastName"
      />
      <mat-error *ngIf="invalidName">Invalid name</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Mail</mat-label>
      <input
        type="email"
        formControlName="email"
        [class.is-invalid]="invalidMail"
        matInput
        placeholder="example@gmail.com"
      />
      <mat-error *ngIf="invalidMail">Invalid mail</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea
        type="text"
        formControlName="body"
        [class.is-invalidad]="invalidComment"
        matInput
        placeholder="Your comment..."
      ></textarea>
      <mat-error *ngIf="invalidComment">Invalid comment</mat-error>
    </mat-form-field>

    <button type="submit" class="btn btn-primary mt-2 mb-2 btn-block">
      Submit
    </button>
  </form>
</article>
