.container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.main-error {
  color: white;
  width: 600px;
  padding: 5em;
  text-align: center;
  background-color: #25252b;
  margin: 1em auto;
}

.link {
  cursor: pointer;
}

.link:focus,
.link:hover {
  color: rgb(32, 53, 238);
  height: 1.5em;
}
