* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif !important;
  opacity: 1;
  background: radial-gradient(circle,
      transparent 20%,
      #19191d 20%,
      #19191d 80%,
      transparent 80%,
      transparent),
    radial-gradient(circle,
      transparent 20%,
      #19191d 20%,
      #19191d 80%,
      transparent 80%,
      transparent) 100px 100px,
    linear-gradient(#1b1b1f 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #1b1b1f 8px, #19191d 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
  background-color: #19191d;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.859);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  border-width: 1px 0;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.mat-form-field {
  margin-bottom: 0.5em;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(255, 255, 255, 0.859);
}

.mat-form-field-label {
  color: #777 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #25252b;
}

.mat-dialog-container {
  background-color: #131323;
  color: rgba(255, 255, 255, 0.859);
}

.mat-select-value {
  color: rgba(255, 255, 255, 0.859);
}

.mat-input-element::placeholder {
  color: rgba(255, 255, 255, 0.859);
}